body {
    margin: 0;

}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}
.overlay {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    top: 0;
    bottom: 0;
    

}

.video1, .video2 {
    display: inline-block;
    height: 100%;
    text-align: center;
    

}
.video1 {
    width: 50%;

}
.video2 {
    width: 49%;

}

video {
    display: inline-block;
    height: 100%;


}


.crossfade .line {
	width: 14px;
	background-image: url("/images/line.png");
	background-size: 100%;
	background-repeat: repeat;
    left: 49.8%;
    position: absolute;
    top: 0;
    bottom: 0;
}


.crossfade .brackets {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 133px;
	height: 71px;
	margin: -32px 0 0 -66px;
	opacity: 0;
	-webkit-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
	   -moz-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
		 -o-transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
			transition: all 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeInSine */
}

.tablet .crossfade .brackets {
	display: none !important;
}

.text-drag-left {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	text-align: right;
	margin-top: -12px;
	margin-left: -275px;
	font-family: 'SignaPro-Light';
	font-size: 23px;
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
	opacity: 0;
	-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
	   -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
		 -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
			transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeInSine */
}

.text-drag-right {
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -12px;
	margin-right: -203px;
	font-family: 'SignaPro-Light';
	font-size: 23px;
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
	opacity: 0;
	-webkit-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
	   -moz-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
		 -o-transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
			transition: all 500ms cubic-bezier(0.390, 0.575, 0.565, 1.000); /* easeInSine */
}

.brackets-scaleup {
	-webkit-transform: scale(1.25, 1.25);
	   -moz-transform: scale(1.25, 1.25);
	     -o-transform: scale(1.25, 1.25);
	    -ms-transform: scale(1.25, 1.25);
	    	transform: scale(1.25, 1.25);
}
